html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: black;
}

.home-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.75fr 6fr;
  height: 100%;
}
