html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overscroll-behavior: none;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: black;
}

.home-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.18fr 2.1fr;
  height: 100%;
  margin: -50px;
}
