@import "../variables/variables.scss";

.blog-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .blog-header {
    font-family: "Roboto", sans-serif;
    margin-top: 70px;
    font-weight: 700;
    font-size: larger;
  }

  .blog-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding: 0px 0 50px 0;

    .blog-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 81%;
      font-size: 25px;
      padding-left: 12%;
      padding-top: 8%;

      a {
        &:hover {
          opacity: 0.8;
          transition: ease-in 0.5em;
        }
      }

      .blog-title {
        padding: 12px 0;
      }

      .blog-link {
        font-weight: 900;
        font-size: 12px;
      }

      .purple a {
        color: #89229b;
      }

      .blue a {
        color: #00bcd4;
      }

      .orange a {
        color: #f44336;
      }

      .gold a {
        color: #ff9800;
      }

      .pink a {
        color: $hestia-pink;
      }

      .green a {
        color: #4caf50;
      }

      .blog-title a {
        font-family: "Roboto Slab", "Times New Roman", serif;
        color: $hestia-black;
      }

      .blog-detail {
        word-wrap: break-word;
        color: #999;
        font-size: small;
      }

      .blog-author {
        padding-top: 1%;
        font-size: 12px;
        color: $hestia-grey;
      }

      .read-more {
        color: #23527c;

        &:hover {
          opacity: 0.8;
          transition: ease-in 0.5em;
          color: $hestia-pink;
        }
      }

      .theme-admin {
        font-family: "Roboto Slab", "Times New Roman", serif;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 950px) {
  .blog-info-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .blog-block {
      width: 100%;
      padding-top: 3%;
    }
  }
}
