html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: black;
}

.home-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.18fr 2.1fr;
  height: 100%;
  margin: -50px;
}

.home-navbar {
  position: fixed;
  top: 0;
  width: 110%;
  height: 50px;
  z-index: 3;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: 1/1/1/4;
  font-size: 12px;
  background-color: #fff;
  padding: 0.5% 0;
}
.home-navbar .hn-left {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.home-navbar .hn-left .hestia a {
  color: #555;
  font-size: 18px;
}
.home-navbar .hn-left .hestia a:hover {
  color: #959595;
  transition: ease 0.5em;
}
.home-navbar .hn-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.home-navbar .hn-right .nav-icon {
  display: none;
}
.home-navbar .hn-right .hn-right-item a {
  padding: 10px 20px;
}
.home-navbar .hn-right .hn-right-item a:hover {
  color: #e91e63;
}
.home-navbar .hn-right .more a {
  font-size: 11px;
  color: #fff;
  border: transparent;
  background-color: #e91e63;
  padding: 18px 23px;
  border-radius: 25px;
}
.home-navbar .hn-right .more a:hover {
  filter: blur(1px);
  transition: ease-in;
  cursor: pointer;
}

@media (max-width: 750px) {
  .home-navbar .hn-left {
    justify-content: flex-start;
    padding-left: 10%;
  }
  .home-navbar .hn-right {
    justify-content: flex-end;
    padding-right: 5vw;
  }
  .home-navbar .hn-right .hn-right-item {
    display: none;
    justify-content: center;
  }
  .home-navbar .hn-right .more {
    display: none;
  }
  .home-navbar .hn-right .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #999;
    padding-right: 7vw;
  }
  .home-navbar .hn-right .nav-icon:hover {
    color: #e91e63;
  }
}
.home-wrapper .welcome-wrapper {
  background-image: url("/images/mnts.jpeg");
  background-size: cover;
  background-position: 25% 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/2/4;
}
.home-wrapper .welcome-wrapper .welcome-header {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  font-size: 67px;
  font-weight: 900;
}
.home-wrapper .welcome-wrapper .welcome-title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 65px;
}
.home-wrapper .welcome-wrapper .welcome-button {
  background-color: #e91e63;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 15px 33px;
  border: none;
  border-radius: 5px;
}
.home-wrapper .welcome-wrapper .welcome-button:hover {
  cursor: pointer;
}

@media (max-width: 750px) {
  .home-wrapper .welcome-wrapper .welcome-header {
    font-size: 50px;
  }
}
.about-hestia-wrapper {
  display: flex;
  width: 100.1%;
  background-image: url("https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg");
  background-size: cover;
  background-position: 25% 50%;
  color: white;
  justify-content: space-between;
}
.about-hestia-wrapper .ab-hes-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-hestia-wrapper .ab-hes-left .ab-title {
  font-size: xx-large;
  padding-right: 27%;
  font-weight: 400;
  padding-bottom: 1.5%;
  font-family: "Roboto Slab", serif;
}
.about-hestia-wrapper .ab-hes-right {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 3%;
}

@media (max-width: 950px) {
  .about-hestia-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-hestia-wrapper .ab-hes-right {
    align-items: flex-start;
  }
  .about-hestia-wrapper .ab-hes-right .about-images {
    align-items: center;
    height: 90%;
    width: 90%;
  }
}
.we-stand-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.we-stand-wrapper .we-stand-header {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  font-weight: 700;
  font-size: larger;
}
.we-stand-wrapper .we-stand-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 100px 0;
}
.we-stand-wrapper .block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.we-stand-wrapper .block-wrapper .section-title {
  font-family: "Roboto Slab", "Times New Roman", serif;
  color: #000;
  margin: 20px 10px;
  font-weight: 600;
  font-size: 18px;
}
.we-stand-wrapper .block-wrapper .section-words {
  color: #999;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 950px) {
  .we-stand-info {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.blog-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.blog-wrapper .blog-header {
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
  font-weight: 700;
  font-size: larger;
}
.blog-wrapper .blog-info-wrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  padding: 15px 0 100px 0;
}
.blog-wrapper .blog-info-wrapper .blog-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 33%;
  font-size: 18px;
  padding-left: 10%;
}
.blog-wrapper .blog-info-wrapper .blog-block a:hover {
  opacity: 0.8;
  transition: ease-in 0.5em;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-link-purple a {
  font-size: 12px;
  color: #89229b;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-link-blue a {
  font-size: 12px;
  color: #00bcd4;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-link-orange a {
  font-size: 12px;
  color: #f44336;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-title a {
  font-family: "Roboto Slab", "Times New Roman", serif;
  color: #000;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-detail {
  word-wrap: break-word;
  color: #999;
  font-size: small;
}
.blog-wrapper .blog-info-wrapper .blog-block .read-more {
  color: #23527c;
}

@media (max-width: 950px) {
  .blog-info-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .blog-info-wrapper .blog-block {
    width: 100%;
    padding-top: 5%;
    padding-right: 5%;
  }
}
.get-in-touch {
  display: flex;
  width: 100.1%;
  background-image: url("https://wp-themes.com/wp-content/themes/hestia/assets/img/contact.jpg");
  background-size: cover;
  background-position: 25% 50%;
  color: white;
  justify-content: space-between;
}
.get-in-touch .touch-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 6% 0 5% 18%;
}
.get-in-touch .touch-left .touch-title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  padding-bottom: 5%;
}
.get-in-touch .touch-left .touch-content {
  display: flex;
  flex-direction: column;
}
.get-in-touch .touch-left .touch-content .touch-icon {
  font-family: "Roboto Slab", serif;
  font-size: large;
  padding-bottom: 2%;
}
.get-in-touch .touch-left .touch-content .touch-icon .fas {
  font-size: 35px;
  padding-right: 0.75%;
}
.get-in-touch .touch-left .touch-content .touch-detail {
  font-size: small;
  padding-left: 4%;
}

.home-footer {
  display: flex;
  width: 100.1%;
  height: 100px;
  justify-content: space-around;
  background-color: #323437;
  color: #fff;
  font-size: 13px;
  opacity: 0.86;
}
.home-footer a {
  color: #fff;
  opacity: 0.86;
  font-size: 12px;
  padding: 15px;
}
.home-footer a:hover {
  color: inherit;
  opacity: 0.8;
  transition: ease-in 0.5em;
}
.home-footer .hf-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-footer .hf-left .left-content {
  justify-content: center;
  align-items: center;
}
.home-footer .hf-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-footer .hf-right .right-content-themelsle a {
  margin-left: -8px;
}

@media (max-width: 950px) {
  .home-footer {
    flex-direction: column;
  }
}
.blog-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.blog-wrapper .blog-header {
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
  font-weight: 700;
  font-size: larger;
}
.blog-wrapper .blog-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding: 0px 0 50px 0;
}
.blog-wrapper .blog-info-wrapper .blog-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 81%;
  font-size: 25px;
  padding-left: 12%;
  padding-top: 8%;
}
.blog-wrapper .blog-info-wrapper .blog-block a:hover {
  opacity: 0.8;
  transition: ease-in 0.5em;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-title {
  padding: 12px 0;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-link {
  font-weight: 900;
  font-size: 12px;
}
.blog-wrapper .blog-info-wrapper .blog-block .purple a {
  color: #89229b;
}
.blog-wrapper .blog-info-wrapper .blog-block .blue a {
  color: #00bcd4;
}
.blog-wrapper .blog-info-wrapper .blog-block .orange a {
  color: #f44336;
}
.blog-wrapper .blog-info-wrapper .blog-block .gold a {
  color: #ff9800;
}
.blog-wrapper .blog-info-wrapper .blog-block .pink a {
  color: #e91e63;
}
.blog-wrapper .blog-info-wrapper .blog-block .green a {
  color: #4caf50;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-title a {
  font-family: "Roboto Slab", "Times New Roman", serif;
  color: #000;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-detail {
  word-wrap: break-word;
  color: #999;
  font-size: small;
}
.blog-wrapper .blog-info-wrapper .blog-block .blog-author {
  padding-top: 1%;
  font-size: 12px;
  color: #555;
}
.blog-wrapper .blog-info-wrapper .blog-block .read-more {
  color: #23527c;
}
.blog-wrapper .blog-info-wrapper .blog-block .read-more:hover {
  opacity: 0.8;
  transition: ease-in 0.5em;
  color: #e91e63;
}
.blog-wrapper .blog-info-wrapper .blog-block .theme-admin {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 14px;
}

@media (max-width: 950px) {
  .blog-info-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .blog-info-wrapper .blog-block {
    width: 100%;
    padding-top: 3%;
    padding-right: 5%;
  }
}
.home-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.18fr 1fr;
  height: 50%;
}
.home-wrapper .welcome-wrapper {
  background: linear-gradient(45deg, rgb(168, 29, 132) 0%, rgb(234, 57, 111) 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/2/4;
}
.home-wrapper .welcome-wrapper .welcome-header {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  font-size: 41px;
  font-weight: 900;
  padding-bottom: 5%;
}

.content-body-page {
  background-color: #fff;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3% 0;
}
.content-body-page .cb-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 55%;
  padding-left: 18%;
}
.content-body-page .cb-left .cbl-header {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 40px;
}
.content-body-page .cb-left .user-info {
  display: flex;
  flex-direction: column;
}
.content-body-page .cb-left .user-name {
  width: 35vw;
  height: 35px;
  margin: 3% 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #999;
  color: #000;
}
.content-body-page .cb-left .user-name:focus {
  outline: none;
}
.content-body-page .cb-left .submit {
  height: 50px;
  width: 100px;
  justify-content: center;
  background-color: #e91e63;
  color: #fff;
  border: transparent;
  border-radius: 5px;
}
.content-body-page .cb-left .submit:hover {
  filter: blur(1px);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  transition: ease-in;
  cursor: pointer;
}
.content-body-page .cb-right {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  width: 45%;
  padding: 3%;
}
.content-body-page .cb-right img {
  height: 25px;
  width: 25px;
}
.content-body-page .cb-right .cb-header {
  font-family: "Roboto Slab", "Times New Roman", serif;
  padding: 10px 5px;
  align-items: center;
  padding-top: 5%;
}
.content-body-page .cb-right .cb-detail {
  color: #999;
  font-size: small;
  line-height: 23px;
}

@media (max-width: 950px) {
  .content-body-page {
    flex-direction: column;
  }
  .content-body-page .cb-left {
    width: 100%;
    padding: 0;
    align-items: center;
  }
  .content-body-page .cb-left .user-name {
    width: 50vw;
  }
  .content-body-page .cb-right {
    padding: 5% 0 0 0;
    width: 100%;
    align-items: center;
  }
}/*# sourceMappingURL=app.css.map */